<div>
  <div class="container">
    <div class="bg-dark p-4 rounded-lg mt-5 text-center text-white" id="homepage">
          <h1 class="display-4">Alpha Blog</h1>
          <p class="lead">Got an idea? Write about it here to reach our audience of readers!</p>
          <hr class="my-4">
          <p>Create an account to start writing!</p>
          <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>